---
import { Layout } from "@globals";
import { Back } from "@component/Back";
import "@style/details.css"
---

<Layout title="eduvers">
    <Back back="/" title="Aprender" />

    <main>
        <a href="/es/fisica-quimica"><h2>Física y Química</h2></a>
        <a href="/es/biologia-geologia"><h2>Biología y Geología</h2></a>
        <a href="/es/matematicas"><h2>Matemáticas</h2></a>
    </main>
</Layout>
