---
import { Layout } from "@Layouts";
import { Header } from "@Header";
import "/src/styles/details.css";
---
<Layout title="Aprender" description="" keywords="">
    <Header back="/" title="Aprender" />

    <main>
        <a href="/es/fisica-quimica"><h2>Física y Química</h2></a>
        <a href="/es/biologia-geologia"><h2>Biología y Geología</h2></a>
        <a href="/es/matematicas"><h2>Matemáticas</h2></a>
    </main>
</Layout>