---
import Global from "../layouts/Global.astro";
import Back from "../components/Back.astro";
---

<Global title="Contribuir" description="" keywords="">
    <Back back="/" title="Contribuir" />

    <main>
        <h1>¡Ayuda a crear, mejorar y corregir nuestros materiales!</h1>

        <p>
            Sabemos que compartes nuestro amor por la educación y te invitamos a
            ser el héroe que marca la diferencia. Tu contribución puede cambiar
            vidas. ¿Te animas?
        </p>

        <button
            class="btn"
            style="display: block; margin: 0 auto;"
            onclick="window.location.href = 'https://drive.google.com/drive/folders/1qsZkr-8468e_qfkdHD86OMUjx4UM_qc5?usp=sharing'"
            >comienza a contribuir</button
        >

        <h2>¿Cómo Puedes Ayudar?</h2>
        <p>
            Colabora con nosotros en Google Docs, donde tu creatividad puede dar
            vida a valiosos recursos educativos. Únete a un equipo apasionado
            que comparte tu amor por enseñar.
        </p>
        <p>
            Crea Bases de Datos en Google Sheets diseñando ejercicios que
            despierten el interés y construyendo un tesoro de conocimiento para
            estudiantes y educadores.
        </p>

        <h2>¿Por Qué Unirte?</h2>
        <p>
            Experimenta un impacto personal directo en el corazón de estudiantes
            de todo el mundo. Desarrolla tus habilidades mientras trabajas en
            proyectos significativos y únete a una comunidad educativa de héroes
            apasionados como tú.
        </p>

        <h2>¿Cómo Comenzar?</h2>
        <p>
            Únete a nuestro proyecto, encuentra la inspiración que buscas. Elige
            tu misión, participa poco a poco y aprende cómo contribuir de la
            mejor manera. ¡Empieza tu aventura como un héroe educativo!
        </p>
    </main>
</Global>

<style>
    main {
        max-width: 1000px;
        margin: 20px auto;
    }
</style>